@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Start Here */
.counter-div {
  width: 40rem; /* 40rem = 400px (40 * 10) */
  border: 1px solid grey;
  padding: 1rem;
  background-color: yellowgreen;
  color: black;
  text-align: center;
  border-radius: 5px;
}

.counter-div > * {
  margin-bottom: 2rem;
}

.hex {
  font-size: 2rem;
  width: 10rem;
  text-align: center;
  padding: 3px;
  border: none;
  border-radius: 3px;
}

.btn {
  padding: 5px;
  margin: 0 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

.copy {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}
